* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.owl-theme .item {
    height: calc(100vh - 56px);
    padding: 0 15px;
    background-position: center;
    background-size: cover;
}

.owl-theme h2 {
    color: #FFF;
    padding: 5rem 0;
    margin: 0;
    font-style: italic;
    font-weight: 300;
    bottom: 0;
    position: absolute;
}

.owl-dots {
    position: absolute;
    bottom: 10px;
    padding: 0 15px;
}

.owl-dot span {
    background: none repeat scroll 0 0 #FABD00;
    border-radius: 20px;
    display: block;
    height: 12px;
    margin: 5px 7px;
    width: 12px;
}

.owl-dot.active span {
    background: none repeat scroll 0 0 #AD1519;
    border-radius: 20px;
    display: block;
    height: 12px;
    margin: 5px 7px;
    width: 12px;
}

.owl-nav {
    display: none;
}

.nav-link,
nav {
    background-color: #AD1519;
    color: #FABD00;
}
